#circular-1,
#circular-2,
#circular-3,
#circular-4 {
  width: 148px;
  height: 148px;
  margin-bottom: 23px;
}

.progress-text {
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  display: flex;
  align-items: center;
  text-align: center;

  color: var(--main-color);
}
.text {
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: var(--main-color);
}
