.facts {
  overflow: hidden;
  position: relative;
  padding-top: 181px;

  &::before {
    content: "";
    position: absolute;
    top: -196px;
    left: -6px;
    width: 570px;
    height: 1065px;
    background-image: url("../img/fact-bg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__list {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 45px;
    max-width: 736px;
  }

  &__title {
    margin-bottom: 57px;
  }
  &__item {
  }
  &__element {
  }
  &__circle {
  }
}

.facts-element {
  &__value {
  }
  &__text {
  }

  &__circle {
    position: relative;
  }

  svg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
