.header {
  padding: 22px 0;
  &__container {
    display: flex;
    align-items: center;
    gap: 61px;
  }

  &--main {
    background-color: var(--light-color);
  }

  &--secondary {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
