.page-hero {
  padding-top: 153px;
  padding-bottom: 80px;
  min-height: 600px;

  background-repeat: no-repeat;
  background-color: var(--color-athens);

  &__breadcrumbs {
    margin-bottom: 40px;
  }
  &__title {
    max-width: 600px;
    margin-bottom: 23px;
    font-weight: 700;
    font-size: 72px;
    line-height: 130%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--main-color);

    &--small {
      font-size: 64px;
      line-height: 120%;
      letter-spacing: 1px;
      text-transform: inherit;
      color: var(--main-color);
    }

    &--mb {
      margin-bottom: 58px;
    }
  }
  &__descr {
    max-width: 600px;
    font-size: 20px;
    line-height: 150%;
    color: var(--storm-color);
  }
}

.bg-page {
  &__services {
    background-image: url("../img/hero-services-bg.png");
    background-position: right -8px top;
  }

  &__design {
    background-image: url("../img/design/hero-design-bg.png");
    background-position: top 0px right -7px;
  }

  &__work {
    background-image: url("../img/work/hero-work-bg.png");
    background-position: top 0px right -7px;
  }

  &__work-card {
    background-image: url("../img/work-card/hero-work-card-bg.png");
    background-position: top 48px right -7px;
    background-color: var(--light-color);
    padding-bottom: 100px;
  }
}

.work-images {
  &__prev {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 32px;
    transform: translate(0px, -50%);
    background: #ffffff;
    opacity: 0.5;
    @media (any-hover: hover) {
      &:hover {
        opacity: 1;
      }
    }
  }

  &__next {
    position: absolute;
    z-index: 10;
    top: 50%;
    right: 32px;
    transform: translate(0px, -50%);
    background: #ffffff;
    opacity: 0.5;
    @media (any-hover: hover) {
      &:hover {
        opacity: 1;
      }
    }
  }
  &-slider {
    position: relative;
    margin-bottom: 20px;
  }
  .swiper-slide {
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 4px;
    }
  }

  .work-images-mini {
    .swiper-slide {
      cursor: pointer;
      border-radius: 4px;
      opacity: 0.6;
      border: 1px solid transparent;
      transition: all 0.3s ease 0s;
    }

    .swiper-slide-thumb-active {
      opacity: 1;
    }
  }
}
