.nav {
  flex: 1 1 auto;
  &__list {
    @include flex-v-center;
    @include adaptiveValue("gap", 40, 5, 1);
  }
  &__item {
  }
  &__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: var(--gray-color);
  }

  &--current {
    color: var(--accent-color);
  }
}
