.partners {
  padding-top: 100px;
  padding-bottom: 90px;
  background-color: #f4f5f7;

  &__title {
    margin-bottom: 59px;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 102px;
  }
  &__item {
  }
  &__link {
  }
}
