.recent {
  background-color: #fff;
  padding-top: 180px;
  padding-bottom: 119px;
  &__list {
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 255px);
    gap: 30px;
  }
  &__item {
    grid-column: 5 span;
    background: #ffffff;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08),
      0px 30px 24px -10px rgba(154, 156, 165, 0.05),
      0px 12px 10px -6px rgba(154, 156, 165, 0.04),
      0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    border-radius: 4px;

    &:first-child {
      grid-column: 7 span;
      grid-row: 2 span;
      .article-meta__descr {
        display: block;
      }

      .recent-article__text {
        padding: 24px;
      }
    }
  }
}

.recent--title {
  margin-bottom: 59px;
}

.recent-article {
  &__img {
  }
  &__text {
    padding: 14px 24px;
  }
  &__title {
    a {
      display: block;
      margin-bottom: 12px;
      font-weight: 700;
      font-size: 20px;
      line-height: 150%;
      color: var(--main-color);
    }
  }
}
.recent-artice {
  &__meta {
  }
}
.article-meta {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 16px;
  &__item {
    position: relative;
    font-size: 14px;
    line-height: 150%;
    color: var(--storm-color);

    &:not(:last-child) {
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: -12px;
        width: 1px;
        height: 11px;
        background-color: var(--storm-color);
        transform: translate(0px, -50%);
      }
    }
  }

  &__descr {
    display: none;
    line-height: 160%;
    color: var(--gray-color);
  }
}

.comments {
  padding-left: 24px;
  background-image: url("../img/icon-comments.svg");
  background-position: left center;
  background-size: 16px 16px;
  background-repeat: no-repeat;
}
