.hero {
  padding-top: 220px;
  padding-bottom: 352px;
  background-color: var(--gray-color);
  background-image: url("../img/hero-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  &__container {
  }
  &__content {
    max-width: 590px;
  }
  &__btns {
    display: flex;
    gap: 24px;
  }
}
.container {
}
.main-title {
}
.main-descr {
}
.btn {
}
.btn--stroke {
}
.btn--stroke-white {
}
.btn--fill {
}
.btn--fill-primary {
}
