<section class="about-section section-offset">
  <div class="container">
    <h2 class="title title--center">We are Createx Construction Bureau</h2>
    <p class="descr descr--center">We are rightfully considered to be the best construction company in the USA.</p>
    <div class="video-block">
      <button class="video-block__play icon-play" aria-label="Play video">
      </button>
      <button class="video-block__mute icon-mute" aria-label="Mute video">
      </button>
      <video class="video-block__content" src="about-video.mp4" muted loop preload="metadata"></video>
    </div>

  </div>
</section>
