<section class="facts">
  <div class="container">
    <h2 class="title title--center facts__title">Some facts and figures</h2>
    <ul class="facts__list">
      <li class="facts__item">
        <div class="facts-element">
          <div id="circular-1" data-animation-state="0"></div>
          <span class="text">Totally satisfied clients</span>
        </div>
      </li>
      <li class="facts__item">
        <div class="facts-element">
          <div id="circular-2" data-animation-state="0"></div>
          <span class="text">Years of experience</span>
        </div>
      </li>
      <li class="facts__item">
        <div class="facts-element">
          <div id="circular-3" data-animation-state="0"></div>
          <span class="text">Working hours spent</span>
        </div>
      </li>
      <li class="facts__item">
        <div class="facts-element">
          <div id="circular-4" data-animation-state="0"></div>
          <span class="text">Succeeded projects</span>
        </div>
      </li>

    </ul>
  </div>
</section>