<section class="page-hero bg-page__work-card">
  <div class="container">
    <ul class="breadcrumbs page-hero__breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="index.html" class="breadcrumbs__link">Homepage</a>
      </li>
      <li class="breadcrumbs__item">
        <a href="index.html" class="breadcrumbs__link">Work</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link">Modern Cottage</a>
      </li>
    </ul>
    <h1 class="page-hero__title page-hero__title--small page-hero__title--mb">Modern Cottage</h1>
    <div class="work-images">



      <div class="swiper work-images-slider">
        <button class="slider-nav__btn work-images__prev slider-btn">
          <svg>
            <use xlink:href="img/sprite.svg#left-arrow"></use>
          </svg>
        </button>
        <button class="slider-nav__btn work-images__next slider-btn">
          <svg>
            <use xlink:href="img/sprite.svg#right-arrow"></use>
          </svg>
        </button>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="img/work-card/card-1.jpg" alt="work-1">
          </div>
          <div class="swiper-slide">
            <img src="img/work-card/card-1.jpg" alt="work-2">
          </div>
          <div class="swiper-slide">
            <img src="img/work-card/card-1.jpg" alt="work-3">
          </div>
          <div class="swiper-slide">
            <img src="img/work-card/card-1.jpg" alt="work-4">
          </div>
          <div class="swiper-slide">
            <img src="img/work-card/card-1.jpg" alt="work-5">
          </div>
        </div>
      </div>
      <div thumbsSlider="" class="swiper work-images-mini">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="img/work-card/card-small-1.jpg" alt="work-1">
          </div>
          <div class="swiper-slide">
            <img src="img/work-card/card-small-1.jpg" alt="work-2">
          </div>
          <div class="swiper-slide">
            <img src="img/work-card/card-small-1.jpg" alt="work-3">
          </div>
          <div class="swiper-slide">
            <img src="img/work-card/card-small-1.jpg" alt="work-4">
          </div>
          <div class="swiper-slide">
            <img src="img/work-card/card-small-1.jpg" alt="work-5">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>