<section class="page-hero bg-page__work-card">
  <div class="container">
    <ul class="breadcrumbs page-hero__breadcrumbs">
      <li class="breadcrumbs__item">
        <a href="index.html" class="breadcrumbs__link">Homepage</a>
      </li>
      <li class="breadcrumbs__item">
        <a href="index.html" class="breadcrumbs__link">Work</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link">Modern Cottage</a>
      </li>
    </ul>
    <h1 class="page-hero__title page-hero__title--small page-hero__title--mb">Modern Cottage</h1>
    <div class="work-images">
      <div thumbsSlider="" class="swiper work-images-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="img/work-card/card-1.jpg" alt="work-1">
          </div>
          <div class="swiper-slide">
            <img src="img/work-card/card-1.jpg" alt="work-1">
          </div>
          <div class="swiper-slide">
            <img src="img/work-card/card-1.jpg" alt="work-1">
          </div>
          <div class="swiper-slide">
            <img src="img/work-card/card-1.jpg" alt="work-1">
          </div>
          <div class="swiper-slide">
            <img src="img/work-card/card-1.jpg" alt="work-1">
          </div>
        </div>
      </div>
      <div class="swiper work-images-nav">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="img/work-card/card-small-1.jpg" alt="work-1">
          </div>
          <div class="swiper-slide">
            <img src="img/work-card/card-small-2.jpg" alt="work-1">
          </div>
          <div class="swiper-slide">
            <img src="img/work-card/card-small-3.jpg" alt="work-1">
          </div>
          <div class="swiper-slide">
            <img src="img/work-card/card-small-4.jpg" alt="work-1">
          </div>
          <div class="swiper-slide">
            <img src="img/work-card/card-small-5.jpg" alt="work-1">
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
