<section class="offer">
  <div class="container offer__container">
    <div class="offer__image">
      <img src="img/design/offer-1.jpg" alt="">
    </div>
    <div class="offer__content">
      <h2 class="title offer__title">We offer</h2>
      <div data-spollers class="spollers offer-spollers">
        <div class="spollers__item offer-spollers__item">
          <button type="button" data-spoller class="spollers__title offer-spollers__title">Interior design of
            apartments</button>
          <div class="spollers__body offer-spollers__body">Adipiscing nunc arcu enim elit mattis eu placerat proin.
            Imperdiet elementum
            faucibus dignissim purus. Fusce parturient
            diam magna ullamcorper morbi semper massa ac facilisis.</div>
        </div>
        <div class="spollers__item offer-spollers__item">
          <button type="button" data-spoller class="spollers__title offer-spollers__title">Interior design of private
            houses</button>
          <div class="spollers__body offer-spollers__body">Adipiscing nunc arcu enim elit mattis eu placerat proin.
            Imperdiet elementum
            faucibus dignissim purus. Fusce parturient
            diam magna ullamcorper morbi semper massa ac facilisis.</div>
        </div>
      </div>
    </div>
  </div>
</section>
