<section class="portfolio">
  <div class="container">
    <h2 class="visually-hidden">Portfolio</h2>
    <div data-tabs data-tabs-animate="500" class="portfolio-tabs">
      <nav data-tabs-titles class="portfolio-tabs__navigation">
        <button type="button" class="portfolio-tabs__title _tab-active icon-house">
          <span class="portfolio-tabs__text">All Projects</span>
        </button>
        <button type="button" class="portfolio-tabs__title icon-construction">
          <span class="portfolio-tabs__text">Construction</span>
        </button>
        <button type="button" class="portfolio-tabs__title icon-plan">
          <span class="portfolio-tabs__text">Project Development</span>
        </button>
        <button type="button" class="portfolio-tabs__title icon-pantone">
          <span class="portfolio-tabs__text">Interior Design</span>
        </button>
        <button type="button" class="portfolio-tabs__title icon-painting">
          <span class="portfolio-tabs__text">Repairs</span>
        </button>
      </nav>
      <div data-tabs-body class="portfolio-tabs__content">
        <div class="portfolio-tabs__body">
          <div class="portfolio">
            <ul class="portfolio-list portfolio__content">
              <li class="portfolio-list__item">
                <a href="#" class="portfolio-list__link">
                  <img src="img/portfolio/portfolio-1.jpg" alt="" class="portfolio-list__img">
                  <div class="portfolio-list__content">
                    <h3 class="portfolio-list__title">Cubes Building</h3>
                    <span class="portfolio-list__descr">Business Centers</span>
                    <div class="portfolio-list__btn btn btn--stroke-primary">View Project</div>
                  </div>
                </a>
              </li>
              <li class="portfolio-list__item">
                <a href="#" class="portfolio-list__link">
                  <img src="img/portfolio/portfolio-2.jpg" alt="" class="portfolio-list__img">
                  <div class="portfolio-list__content">
                    <h3 class="portfolio-list__title">Modern Cottage</h3>
                    <span class="portfolio-list__descr">Private houses</span>
                    <div class="portfolio-list__btn btn btn--stroke-primary">View Project</div>
                  </div>
                </a>
              </li>
              <li class="portfolio-list__item">
                <a href="#" class="portfolio-list__link">
                  <img src="img/portfolio/portfolio-3.jpg" alt="" class="portfolio-list__img">
                  <div class="portfolio-list__content">
                    <h3 class="portfolio-list__title">Luxury Beach House</h3>
                    <span class="portfolio-list__descr">Private houses</span>
                    <div class="portfolio-list__btn btn btn--stroke-primary">View Project</div>
                  </div>
                </a>
              </li>
              <li class="portfolio-list__item">
                <a href="#" class="portfolio-list__link">
                  <img src="img/portfolio/portfolio-4.jpg" alt="" class="portfolio-list__img">
                  <div class="portfolio-list__content">
                    <h3 class="portfolio-list__title">Brown and Gray Painted House</h3>
                    <span class="portfolio-list__descr">Private houses</span>
                    <div class="portfolio-list__btn btn btn--stroke-primary">View Project</div>
                  </div>
                </a>
              </li>
              <li class="portfolio-list__item">
                <a href="#" class="portfolio-list__link">
                  <img src="img/portfolio/portfolio-5.jpg" alt="" class="portfolio-list__img">
                  <div class="portfolio-list__content">
                    <h3 class="portfolio-list__title">Modern Double Bedroom</h3>
                    <span class="portfolio-list__descr">Apartments & flats</span>
                    <div class="portfolio-list__btn btn btn--stroke-primary">View Project</div>
                  </div>
                </a>
              </li>
              <li class="portfolio-list__item">
                <a href="#" class="portfolio-list__link">
                  <img src="img/portfolio/portfolio-6.jpg" alt="" class="portfolio-list__img">
                  <div class="portfolio-list__content">
                    <h3 class="portfolio-list__title">Scandinavian Style Interior</h3>
                    <span class="portfolio-list__descr">Private houses</span>
                    <div class="portfolio-list__btn btn btn--stroke-primary">View Project</div>
                  </div>
                </a>
              </li>
              <li class="portfolio-list__item">
                <a href="#" class="portfolio-list__link">
                  <img src="img/portfolio/portfolio-7.jpg" alt="" class="portfolio-list__img">
                  <div class="portfolio-list__content">
                    <h3 class="portfolio-list__title">Kids Bedroom With Decorations</h3>
                    <span class="portfolio-list__descr">Apartments & flats</span>
                    <div class="portfolio-list__btn btn btn--stroke-primary">View Project</div>
                  </div>
                </a>
              </li>
              <li class="portfolio-list__item">
                <a href="#" class="portfolio-list__link">
                  <img src="img/portfolio/portfolio-8.jpg" alt="" class="portfolio-list__img">
                  <div class="portfolio-list__content">
                    <h3 class="portfolio-list__title">The Pencil Building</h3>
                    <span class="portfolio-list__descr">Stores & Malls</span>
                    <div class="portfolio-list__btn btn btn--stroke-primary">View Project</div>
                  </div>
                </a>
              </li>
              <li class="portfolio-list__item">
                <a href="#" class="portfolio-list__link">
                  <img src="img/portfolio/portfolio-9.jpg" alt="" class="portfolio-list__img">
                  <div class="portfolio-list__content">
                    <h3 class="portfolio-list__title">Red Finger Building</h3>
                    <span class="portfolio-list__descr">Business Centers</span>
                    <div class="portfolio-list__btn btn btn--stroke-primary">View Project</div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="portfolio-tabs__body">
          <div class="portfolio">
            <ul class="portfolio-list portfolio__content">
              <li class="portfolio-list__item">
                <a href="#" class="portfolio-list__link">
                  <img src="img/portfolio/portfolio-1.jpg" alt="" class="portfolio-list__img">
                  <div class="portfolio-list__content">
                    <h3 class="portfolio-list__title">Cubes Building</h3>
                    <span class="portfolio-list__descr">Business Centers</span>
                    <div class="portfolio-list__btn btn btn--stroke-primary">View Project</div>
                  </div>
                </a>
              </li>
              <li class="portfolio-list__item">
                <a href="#" class="portfolio-list__link">
                  <img src="img/portfolio/portfolio-2.jpg" alt="" class="portfolio-list__img">
                  <div class="portfolio-list__content">
                    <h3 class="portfolio-list__title">Modern Cottage</h3>
                    <span class="portfolio-list__descr">Private houses</span>
                    <div class="portfolio-list__btn btn btn--stroke-primary">View Project</div>
                  </div>
                </a>
              </li>
              <li class="portfolio-list__item">
                <a href="#" class="portfolio-list__link">
                  <img src="img/portfolio/portfolio-3.jpg" alt="" class="portfolio-list__img">
                  <div class="portfolio-list__content">
                    <h3 class="portfolio-list__title">Luxury Beach House</h3>
                    <span class="portfolio-list__descr">Private houses</span>
                    <div class="portfolio-list__btn btn btn--stroke-primary">View Project</div>
                  </div>
                </a>
              </li>
              <li class="portfolio-list__item">
                <a href="#" class="portfolio-list__link">
                  <img src="img/portfolio/portfolio-4.jpg" alt="" class="portfolio-list__img">
                  <div class="portfolio-list__content">
                    <h3 class="portfolio-list__title">Brown and Gray Painted House</h3>
                    <span class="portfolio-list__descr">Private houses</span>
                    <div class="portfolio-list__btn btn btn--stroke-primary">View Project</div>
                  </div>
                </a>
              </li>
              <li class="portfolio-list__item">
                <a href="#" class="portfolio-list__link">
                  <img src="img/portfolio/portfolio-5.jpg" alt="" class="portfolio-list__img">
                  <div class="portfolio-list__content">
                    <h3 class="portfolio-list__title">Modern Double Bedroom</h3>
                    <span class="portfolio-list__descr">Apartments & flats</span>
                    <div class="portfolio-list__btn btn btn--stroke-primary">View Project</div>
                  </div>
                </a>
              </li>
              <li class="portfolio-list__item">
                <a href="#" class="portfolio-list__link">
                  <img src="img/portfolio/portfolio-6.jpg" alt="" class="portfolio-list__img">
                  <div class="portfolio-list__content">
                    <h3 class="portfolio-list__title">Scandinavian Style Interior</h3>
                    <span class="portfolio-list__descr">Private houses</span>
                    <div class="portfolio-list__btn btn btn--stroke-primary">View Project</div>
                  </div>
                </a>
              </li>
              <li class="portfolio-list__item">
                <a href="#" class="portfolio-list__link">
                  <img src="img/portfolio/portfolio-7.jpg" alt="" class="portfolio-list__img">
                  <div class="portfolio-list__content">
                    <h3 class="portfolio-list__title">Kids Bedroom With Decorations</h3>
                    <span class="portfolio-list__descr">Apartments & flats</span>
                    <div class="portfolio-list__btn btn btn--stroke-primary">View Project</div>
                  </div>
                </a>
              </li>
              <li class="portfolio-list__item">
                <a href="#" class="portfolio-list__link">
                  <img src="img/portfolio/portfolio-8.jpg" alt="" class="portfolio-list__img">
                  <div class="portfolio-list__content">
                    <h3 class="portfolio-list__title">The Pencil Building</h3>
                    <span class="portfolio-list__descr">Stores & Malls</span>
                    <div class="portfolio-list__btn btn btn--stroke-primary">View Project</div>
                  </div>
                </a>
              </li>
              <li class="portfolio-list__item">
                <a href="#" class="portfolio-list__link">
                  <img src="img/portfolio/portfolio-9.jpg" alt="" class="portfolio-list__img">
                  <div class="portfolio-list__content">
                    <h3 class="portfolio-list__title">Red Finger Building</h3>
                    <span class="portfolio-list__descr">Business Centers</span>
                    <div class="portfolio-list__btn btn btn--stroke-primary">View Project</div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="portfolio-tabs__body">
          <div class="portfolio">
            <ul class="portfolio-list portfolio__content">
              <li class="portfolio-list__item">
                <a href="#" class="portfolio-list__link">
                  <img src="img/portfolio/portfolio-1.jpg" alt="" class="portfolio-list__img">
                  <div class="portfolio-list__content">
                    <h3 class="portfolio-list__title">Cubes Building</h3>
                    <span class="portfolio-list__descr">Business Centers</span>
                    <div class="portfolio-list__btn btn btn--stroke-primary">View Project</div>
                  </div>
                </a>
              </li>
              <li class="portfolio-list__item">
                <a href="#" class="portfolio-list__link">
                  <img src="img/portfolio/portfolio-2.jpg" alt="" class="portfolio-list__img">
                  <div class="portfolio-list__content">
                    <h3 class="portfolio-list__title">Modern Cottage</h3>
                    <span class="portfolio-list__descr">Private houses</span>
                    <div class="portfolio-list__btn btn btn--stroke-primary">View Project</div>
                  </div>
                </a>
              </li>
              <li class="portfolio-list__item">
                <a href="#" class="portfolio-list__link">
                  <img src="img/portfolio/portfolio-3.jpg" alt="" class="portfolio-list__img">
                  <div class="portfolio-list__content">
                    <h3 class="portfolio-list__title">Luxury Beach House</h3>
                    <span class="portfolio-list__descr">Private houses</span>
                    <div class="portfolio-list__btn btn btn--stroke-primary">View Project</div>
                  </div>
                </a>
              </li>
              <li class="portfolio-list__item">
                <a href="#" class="portfolio-list__link">
                  <img src="img/portfolio/portfolio-4.jpg" alt="" class="portfolio-list__img">
                  <div class="portfolio-list__content">
                    <h3 class="portfolio-list__title">Brown and Gray Painted House</h3>
                    <span class="portfolio-list__descr">Private houses</span>
                    <div class="portfolio-list__btn btn btn--stroke-primary">View Project</div>
                  </div>
                </a>
              </li>
              <li class="portfolio-list__item">
                <a href="#" class="portfolio-list__link">
                  <img src="img/portfolio/portfolio-5.jpg" alt="" class="portfolio-list__img">
                  <div class="portfolio-list__content">
                    <h3 class="portfolio-list__title">Modern Double Bedroom</h3>
                    <span class="portfolio-list__descr">Apartments & flats</span>
                    <div class="portfolio-list__btn btn btn--stroke-primary">View Project</div>
                  </div>
                </a>
              </li>
              <li class="portfolio-list__item">
                <a href="#" class="portfolio-list__link">
                  <img src="img/portfolio/portfolio-6.jpg" alt="" class="portfolio-list__img">
                  <div class="portfolio-list__content">
                    <h3 class="portfolio-list__title">Scandinavian Style Interior</h3>
                    <span class="portfolio-list__descr">Private houses</span>
                    <div class="portfolio-list__btn btn btn--stroke-primary">View Project</div>
                  </div>
                </a>
              </li>
              <li class="portfolio-list__item">
                <a href="#" class="portfolio-list__link">
                  <img src="img/portfolio/portfolio-7.jpg" alt="" class="portfolio-list__img">
                  <div class="portfolio-list__content">
                    <h3 class="portfolio-list__title">Kids Bedroom With Decorations</h3>
                    <span class="portfolio-list__descr">Apartments & flats</span>
                    <div class="portfolio-list__btn btn btn--stroke-primary">View Project</div>
                  </div>
                </a>
              </li>
              <li class="portfolio-list__item">
                <a href="#" class="portfolio-list__link">
                  <img src="img/portfolio/portfolio-8.jpg" alt="" class="portfolio-list__img">
                  <div class="portfolio-list__content">
                    <h3 class="portfolio-list__title">The Pencil Building</h3>
                    <span class="portfolio-list__descr">Stores & Malls</span>
                    <div class="portfolio-list__btn btn btn--stroke-primary">View Project</div>
                  </div>
                </a>
              </li>
              <li class="portfolio-list__item">
                <a href="#" class="portfolio-list__link">
                  <img src="img/portfolio/portfolio-9.jpg" alt="" class="portfolio-list__img">
                  <div class="portfolio-list__content">
                    <h3 class="portfolio-list__title">Red Finger Building</h3>
                    <span class="portfolio-list__descr">Business Centers</span>
                    <div class="portfolio-list__btn btn btn--stroke-primary">View Project</div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="portfolio-tabs__body">
          <div class="portfolio">
            <ul class="portfolio-list portfolio__content">
              <li class="portfolio-list__item">
                <a href="#" class="portfolio-list__link">
                  <img src="img/portfolio/portfolio-1.jpg" alt="" class="portfolio-list__img">
                  <div class="portfolio-list__content">
                    <h3 class="portfolio-list__title">Cubes Building</h3>
                    <span class="portfolio-list__descr">Business Centers</span>
                    <div class="portfolio-list__btn btn btn--stroke-primary">View Project</div>
                  </div>
                </a>
              </li>
              <li class="portfolio-list__item">
                <a href="#" class="portfolio-list__link">
                  <img src="img/portfolio/portfolio-2.jpg" alt="" class="portfolio-list__img">
                  <div class="portfolio-list__content">
                    <h3 class="portfolio-list__title">Modern Cottage</h3>
                    <span class="portfolio-list__descr">Private houses</span>
                    <div class="portfolio-list__btn btn btn--stroke-primary">View Project</div>
                  </div>
                </a>
              </li>
              <li class="portfolio-list__item">
                <a href="#" class="portfolio-list__link">
                  <img src="img/portfolio/portfolio-3.jpg" alt="" class="portfolio-list__img">
                  <div class="portfolio-list__content">
                    <h3 class="portfolio-list__title">Luxury Beach House</h3>
                    <span class="portfolio-list__descr">Private houses</span>
                    <div class="portfolio-list__btn btn btn--stroke-primary">View Project</div>
                  </div>
                </a>
              </li>
              <li class="portfolio-list__item">
                <a href="#" class="portfolio-list__link">
                  <img src="img/portfolio/portfolio-4.jpg" alt="" class="portfolio-list__img">
                  <div class="portfolio-list__content">
                    <h3 class="portfolio-list__title">Brown and Gray Painted House</h3>
                    <span class="portfolio-list__descr">Private houses</span>
                    <div class="portfolio-list__btn btn btn--stroke-primary">View Project</div>
                  </div>
                </a>
              </li>
              <li class="portfolio-list__item">
                <a href="#" class="portfolio-list__link">
                  <img src="img/portfolio/portfolio-5.jpg" alt="" class="portfolio-list__img">
                  <div class="portfolio-list__content">
                    <h3 class="portfolio-list__title">Modern Double Bedroom</h3>
                    <span class="portfolio-list__descr">Apartments & flats</span>
                    <div class="portfolio-list__btn btn btn--stroke-primary">View Project</div>
                  </div>
                </a>
              </li>
              <li class="portfolio-list__item">
                <a href="#" class="portfolio-list__link">
                  <img src="img/portfolio/portfolio-6.jpg" alt="" class="portfolio-list__img">
                  <div class="portfolio-list__content">
                    <h3 class="portfolio-list__title">Scandinavian Style Interior</h3>
                    <span class="portfolio-list__descr">Private houses</span>
                    <div class="portfolio-list__btn btn btn--stroke-primary">View Project</div>
                  </div>
                </a>
              </li>
              <li class="portfolio-list__item">
                <a href="#" class="portfolio-list__link">
                  <img src="img/portfolio/portfolio-7.jpg" alt="" class="portfolio-list__img">
                  <div class="portfolio-list__content">
                    <h3 class="portfolio-list__title">Kids Bedroom With Decorations</h3>
                    <span class="portfolio-list__descr">Apartments & flats</span>
                    <div class="portfolio-list__btn btn btn--stroke-primary">View Project</div>
                  </div>
                </a>
              </li>
              <li class="portfolio-list__item">
                <a href="#" class="portfolio-list__link">
                  <img src="img/portfolio/portfolio-8.jpg" alt="" class="portfolio-list__img">
                  <div class="portfolio-list__content">
                    <h3 class="portfolio-list__title">The Pencil Building</h3>
                    <span class="portfolio-list__descr">Stores & Malls</span>
                    <div class="portfolio-list__btn btn btn--stroke-primary">View Project</div>
                  </div>
                </a>
              </li>
              <li class="portfolio-list__item">
                <a href="#" class="portfolio-list__link">
                  <img src="img/portfolio/portfolio-9.jpg" alt="" class="portfolio-list__img">
                  <div class="portfolio-list__content">
                    <h3 class="portfolio-list__title">Red Finger Building</h3>
                    <span class="portfolio-list__descr">Business Centers</span>
                    <div class="portfolio-list__btn btn btn--stroke-primary">View Project</div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="portfolio-tabs__body">
          <div class="portfolio">
            <ul class="portfolio-list portfolio__content">
              <li class="portfolio-list__item">
                <a href="#" class="portfolio-list__link">
                  <img src="img/portfolio/portfolio-1.jpg" alt="" class="portfolio-list__img">
                  <div class="portfolio-list__content">
                    <h3 class="portfolio-list__title">Cubes Building</h3>
                    <span class="portfolio-list__descr">Business Centers</span>
                    <div class="portfolio-list__btn btn btn--stroke-primary">View Project</div>
                  </div>
                </a>
              </li>
              <li class="portfolio-list__item">
                <a href="#" class="portfolio-list__link">
                  <img src="img/portfolio/portfolio-2.jpg" alt="" class="portfolio-list__img">
                  <div class="portfolio-list__content">
                    <h3 class="portfolio-list__title">Modern Cottage</h3>
                    <span class="portfolio-list__descr">Private houses</span>
                    <div class="portfolio-list__btn btn btn--stroke-primary">View Project</div>
                  </div>
                </a>
              </li>
              <li class="portfolio-list__item">
                <a href="#" class="portfolio-list__link">
                  <img src="img/portfolio/portfolio-3.jpg" alt="" class="portfolio-list__img">
                  <div class="portfolio-list__content">
                    <h3 class="portfolio-list__title">Luxury Beach House</h3>
                    <span class="portfolio-list__descr">Private houses</span>
                    <div class="portfolio-list__btn btn btn--stroke-primary">View Project</div>
                  </div>
                </a>
              </li>
              <li class="portfolio-list__item">
                <a href="#" class="portfolio-list__link">
                  <img src="img/portfolio/portfolio-4.jpg" alt="" class="portfolio-list__img">
                  <div class="portfolio-list__content">
                    <h3 class="portfolio-list__title">Brown and Gray Painted House</h3>
                    <span class="portfolio-list__descr">Private houses</span>
                    <div class="portfolio-list__btn btn btn--stroke-primary">View Project</div>
                  </div>
                </a>
              </li>
              <li class="portfolio-list__item">
                <a href="#" class="portfolio-list__link">
                  <img src="img/portfolio/portfolio-5.jpg" alt="" class="portfolio-list__img">
                  <div class="portfolio-list__content">
                    <h3 class="portfolio-list__title">Modern Double Bedroom</h3>
                    <span class="portfolio-list__descr">Apartments & flats</span>
                    <div class="portfolio-list__btn btn btn--stroke-primary">View Project</div>
                  </div>
                </a>
              </li>
              <li class="portfolio-list__item">
                <a href="#" class="portfolio-list__link">
                  <img src="img/portfolio/portfolio-6.jpg" alt="" class="portfolio-list__img">
                  <div class="portfolio-list__content">
                    <h3 class="portfolio-list__title">Scandinavian Style Interior</h3>
                    <span class="portfolio-list__descr">Private houses</span>
                    <div class="portfolio-list__btn btn btn--stroke-primary">View Project</div>
                  </div>
                </a>
              </li>
              <li class="portfolio-list__item">
                <a href="#" class="portfolio-list__link">
                  <img src="img/portfolio/portfolio-7.jpg" alt="" class="portfolio-list__img">
                  <div class="portfolio-list__content">
                    <h3 class="portfolio-list__title">Kids Bedroom With Decorations</h3>
                    <span class="portfolio-list__descr">Apartments & flats</span>
                    <div class="portfolio-list__btn btn btn--stroke-primary">View Project</div>
                  </div>
                </a>
              </li>
              <li class="portfolio-list__item">
                <a href="#" class="portfolio-list__link">
                  <img src="img/portfolio/portfolio-8.jpg" alt="" class="portfolio-list__img">
                  <div class="portfolio-list__content">
                    <h3 class="portfolio-list__title">The Pencil Building</h3>
                    <span class="portfolio-list__descr">Stores & Malls</span>
                    <div class="portfolio-list__btn btn btn--stroke-primary">View Project</div>
                  </div>
                </a>
              </li>
              <li class="portfolio-list__item">
                <a href="#" class="portfolio-list__link">
                  <img src="img/portfolio/portfolio-9.jpg" alt="" class="portfolio-list__img">
                  <div class="portfolio-list__content">
                    <h3 class="portfolio-list__title">Red Finger Building</h3>
                    <span class="portfolio-list__descr">Business Centers</span>
                    <div class="portfolio-list__btn btn btn--stroke-primary">View Project</div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
