* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
html,
body {
  height: 100%;
  min-width: var(--content-min-width);
}

body {
  color: var(--main-color);
  line-height: 1;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: 400;
  //text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5 {
  padding: 0px;
  margin: 0px;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

button {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.container-fluid {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-fluid-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
  // Прижимаем footer
  > main {
    flex: 1 1 auto;
  }
  // Фикс для слайдеров
  > * {
    min-width: 0;
  }
}

.main-title {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 72px;
  line-height: 130%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--main-color);

  &--home {
    color: var(--light-color);
  }

  span {
    color: var(--accent-color);
  }
}

.main-descr {
  font-size: 20px;
  line-height: 150%;
  color: var(--storm-color);

  &--home {
    margin-bottom: 60px;
    color: var(--light-color);
  }
}

.btn {
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  border-radius: 4px;
  padding: 16px 38px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: var(--light-color);
}

.btn--stroke-light {
  border-color: var(--light-color);
}

.btn--fill-primary {
  background: #ff5a30;
}

.title {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  color: var(--main-color);
  &--center {
    text-align: center;
  }
}
.descr {
  margin-bottom: 60px;
  font-size: 18px;
  line-height: 150%;
  color: var(--storm-color);
  &--center {
    text-align: center;
  }
}

.section-offset {
  padding-top: 120px;
}
